/* GENERAL */
*{
    margin: 0;
    padding: 0;
}
body{
    color: #6f7b97;
}
h1,
h2,
h3,
h4{
    font-weight: bold;
}
a{
    color: #006aff;
}
img{
    width: 100%;
}
/* UTILITIES */
/* Layout */
.mt-50{
    margin-top: 50px;
}
.mt-60{
    margin-top: 60px;
}
.padX-0{
    padding-left: 0;
    padding-right: 0;
}

/* Backgrounds */
.bg-gray{
    background-color: #f3f5f9;
}

/* Text */
.txt-white{
    color: #fff;
}
.txt-dark-blue{
    color: #031c4e;
}
.txt-cobalt{
    color: #006aff;
}

/* Link */
.arrow-link{
    font-size: 16px;
    font-weight: bold;
}
.arrow-link::after{
    content: ' >';
    padding-left: 5px;
}

/* Buttons */
.my-btn-long{
    display: block;
}
.my-btn-sign-up{
    border: 1px solid #006aff;
}
.my-btn-dodgerblue{
    color: #fff;
    background-color: #579aff;
}
.my-btn-google{
    position: relative;
    color: #626262;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}
.my-btn-google img.google-icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 20px;
}

/* Property Box */
.property-box img{
    width: 50px;
    margin-bottom: 10px;
}
.property-box h4{
    font-size: 20px;
}
.property-box p{
    font-size: 16px;
}
.property-box a{
    display: inline-block;
    margin-bottom: 10px;
}
.property-box{
    margin-bottom: 20px;
}

/* Slider */
.slider{
    margin-top: 150px;
    margin-bottom: 80px;
}
.slider .slide{
    position: relative;
    display: inline-block;
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
}
.slider .slide .caption{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.slide::before,
.slide::after{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.slide::before{
    content:' \f104';
    color: #6f7b97;
    right: 100%;
}
.slide::after{
    content:' \f105';
    color: #031c4e;
    left: 100%;
}

/* RESPONSIVE */
/* Screen >= 768px */
@media screen and (min-width: 768px){
    .slide::before,
    .slide::after{
    display: block;
    }
}
/* Screen >= 992px */
@media screen and (min-width: 992px){
    .slider{
        margin-top: 80px;
        margin-bottom: 10px;
    }
    .slider .slide{
        padding-left: 25px;
        padding-right: 25px;
    }
}
/* Scroll Spot */
.scroll-spot{
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #006aff;
    border: 1px solid #006aff;
}
.scroll-spot.spot-empty{
    background-color: transparent;
}

/* SITE HEADER */
header.main-header {
    line-height: 65px;
}
/* Site Logo */
.main-header img.site-logo{
    width: 160px;
    margin-bottom: 10px;
}
/* Hamburger */
.main-header .hamburger{
    font-size: 24px;
    color: #006aff;
}
/* Header Navbars */
.main-header .header-navbar{
    color: #031c4e;
    font-size: 16px;
    font-weight: bold;
}
.header-navbar .list-inline{
    margin-bottom: 0;
}
.header-navbar .list-inline li.drop::after{
    content:' \f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* SITE MAIN */
/* HERO SECT. */
section.hero{
    padding: 60px 0;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: center;
}
/* Title */
.hero h1{
    font-size: 38px;
}
.hero p{
    font-size: 24px;
    color: #bbcdff;
}
/* Form */
.hero .my-form{
    padding: 35px 20px;
    background-color: #fff;
    border-radius: 5px;
}
.hero .my-form .form-title{
    font-size: 28px;
    font-weight: bold;
}
/* Form Group */
.hero .my-form .my-form-group{
    margin-bottom: 10px;
}
.my-form .my-form-group .my-form-control{
    height: auto;
    padding: 10px 5px;
    border-color: #eee;
    box-shadow: none;
}
.my-form .my-form-group .my-form-control::placeholder{
    font-size: 16px;
    color: #7e7e7e;
}
/* Terms */
.hero .my-form .terms{
    font-size: 12px;
}
.hero .my-form .terms a{
    text-decoration: underline;
}
/* RESPONSIVE */
/* Screen >= 992px */
@media screen and (min-width: 992px){
    .hero h1{
        font-size: 60px;
    }
}

/* CUSTOMERS SECT. */
section.customers{
    padding: 40px 20px 30px;
}
.customers h4{
    font-size: 17px;
}
/* Customers List */
.customers .customers-list li{
    width: calc((100% / 2) - 5px);
}
/* RESPONSIVE */
/* Screen >= 768px */
@media screen and (min-width: 768px){
    .customers .customers-list li{
        width: calc((100% / 6) - 5px);
    }
}

/* CONFIGURATION SECT. */
section.configuration{
    padding: 60px 0;
}
.configuration h2{
    font-size: 34px;
}
.configuration p{
    font-size: 24px;
}
/* Configuration List */
.configuration .list-unstyled{
    margin-bottom: 30px;
}
.configuration .list-unstyled li{
    padding: 10px;
    font-size: 20px;
    border-left: 2px solid #ccc;
}

/* SCREENSHOT SECT. */
section.screenshot{
    padding: 60px 0;
}
.screenshot h2{
    margin-bottom: 30px;
    font-size: 34px;
}
.screenshot p{
    font-size: 24px;
}

/* FEATURE SECT. */
section.features{
    padding: 60px 0;
}
.features h2{
    font-size: 34px;
}